{% extends 'base.html' %} 
{% block content %}
<h1 class="center">My Countries</h1>
<br />
<div class="country-list-container">
  {% for country in all_countries %}
  <div class="country-container">
    <a class="countryname" href="/countries/{{country.id}}">{{country.name}}</a>
    <br />
    <br />
    <button class="btn"><a href="/countries/{{ country.id }}/edit">Update</a></button>
    <br />
    <br />
    <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
      <input type="submit" value="Delete" class="delete-btn" />
    </form>
    <br />
  </div>
  <hr />
  {% endfor %}
</div>
<br>
<div class="center">
  <button class="btn"><a href="/countries/new">Add New Country</a></button>
</div>
  
{% endblock content %}




