{% extends 'base.html' %} {% block content %}
<div class="center">
  <h2 class="center">New Country</h2>
  <div class="form-container">
    <form action="/countries" method="post" id="form1">
      <div>
        <label for="name">Country</label>
        <br />
        <input type="text" name="name" required autofocus />
      </div>
      <hr />
      <div>
        <label for="continent">Continent</label>
        <br />
        <input type="text" name="continent" />
      </div>
      <hr />
      <div>
        <label for="language">Language</label>
        <br />
        <input type="text" name="language" />
      </div>
      <hr />
      <button type="submit" form="form1" value="Submit" class="btn">Add</button>
    </form>
  </div>
</div>
{% endblock content %}
