{% extends 'base.html' %} {% block content %}

<div class="center">
  <h2 class="center">Update City</h2>

  <div class="form-container">
    <form action="/cities/{{city.id}}" method="post">
      <div>
        <label for="city">Name</label>
        <br>
        <input
          type="text"
          name="name"
          id="name"
          value="{{city.name}}"
          required
          autofocus
        />
      </div>
      <hr>
      <div>
        <label for="country">Country</label>
        <br>
        <select name="country_id" id="country">
          {% for country in all_countries %}
          <option value="{{ country.id }}">
            {% if country.id == city.country.id %}{% endif %} {{ country.name }}
          </option>
          {% endfor %}
        </select>
      </div>
      <hr>
      <div>
        <label for="visited">Visited</label>
        <br>
        <select name="visited" id="visited">
          <option value="true">
            {% if city.visited == True %}{% endif %} Yes
          </option>
          <option value="false">
            {% if city.visited == False %}{% endif %} No
          </option>
        </select>
      </div>
      <hr>
      <div class="center">
        <button class="btn" type="submit">Update</a></button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
