{% extends 'base.html' %} {% block content %}

<h2>{{city.name}}</h2>
<div class="slider">
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=1"
      alt="photo of city"
    />
  </div>
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=5"
      alt="photo of city"
    />
  </div>
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=10"
      alt="photo of city"
    />
  </div>
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=15"
      alt="photo of city"
    />
  </div>
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=20"
      alt="photo of city"
    />
  </div>
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=25"
      alt="photo of city"
    />
  </div>
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=30"
      alt="photo of city"
    />
  </div>
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=35"
      alt="photo of city"
    />
  </div>
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=40"
      alt="photo of city"
    />
  </div>
  <div class="slide">
    <img
      src="https://source.unsplash.com/200x200/?{{city.name}}&random=45"
      alt="photo of city"
    />
  </div>
</div>
<br>


{% endblock content %} 
