{% extends 'base.html' %} {% block content %}
<h1>My Cities</h1>
<br />
<div class="city-list-container">
  {% for city in all_cities %}
  <div class="city-container">
    <a class="cityname" href="/cities/{{city.id}}">{{city.name}}</a>
    <br />
    <br>
    <form action="/cities/{{ city.id }}/gallery?city_name={{ city.name }}">
      <input type="submit" value="Gallary">
    </form>
    <br />
    <form class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
      <input type="submit" value="Delete" style="color: blue" />
    </form>
    <br />
  </div>
  <hr>
  {% endfor %}
</div>
<br />

<button><a href="/cities/new">Add New City</a></button>

{% endblock %}
