{% extends 'base.html' %} {% block content %}
<h1 class="center">My Cities</h1>
<br />
<div class="country-list-container">
  {% for city in all_cities %}
  <div class="country-container">
    <a class="countryname" href="/cities/{{city.id}}">{{city.name}}</a>
    <br />
    <br />
    <form action="/cities/{{ city.id }}/edit">
      <input type="submit" value="Update" class="btn" />
    </form>
    <br />
    <form action="/cities/{{ city.id }}/gallery?city_name={{ city.name }}">
      <input type="submit" value="Gallery" class="btn" />
    </form>
    <br />
    <for class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
      <input type="submit" value="Delete" class="delete-btn" />
    </for>
  </div>
  <hr />
  {% endfor %}
</div>
<br />
<div class="center">
  <button class="btn"><a href="/cities/new">Add New City</a></button>
</div>

{% endblock content %}
