<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<br><br>
<p>
  This is where you can view all the places you have visited.
  <br />
  <br />
  From here, you can mark each of your locations as not visited or delete locations.
</p>
<br>
<h1 class="center">My Cities</h1>
<div class="country-list-container">
  {% for city in all_cities %}
  <div class="country-container">
    <a class="countryname" href="/cities/{{city.id}}">{{city.name}}</a>
    <br />
    <br />
    <form action="/cities/{{ city.id }}/not_visited" method="POST" style="display: inline;">
        <input type="submit" value="Not Visited" class="btn" />
      </form>
    <br />
    <br />
    <form class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
      <input type="submit" value="Delete" class="delete-btn" />
    </form>
  </div>
  <hr />
  {% endfor %}
  
</div>
<h1 class="center">My Countries</h1>
<div class="country-list-container">
  {% for country in all_countries %}
  <div class="country-container">
    <a class="countryname" href="/countries/{{country.id}}">{{country.name}}</a>
    <br /><br />
    <form action="/countries/{{ country.id }}/not_visited" method="POST" style="display: inline;">
        <input type="submit" value="Not Visited" class="btn" />
      </form>
    <br /><br />
    <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
      <input type="submit" value="Delete" class="delete-btn" />
    </form>
    <br />
  </div>
  <hr />
  {% endfor %}
</div>
<br><br><br><br><br>
{% endblock content %}
</div>
</body>
</html>