{% extends "base.html" %} {% block content %}
<body>
  <section class="Logo">
    <img
      src="{{url_for('static', filename='Logo.png')}}"
      class="centered resize"
      id="logo"
    />
    <br />
    <hr class="divide" />
    <h1 class="center">About Us</h1>
    <p>
      Your Travel Bucket List is a personalized platform designed to help you
      keep track of your dream destinations, countries, and cities. Whether
      you're an avid traveler or simply looking to explore new places, this
      platform will be your ultimate companion in creating and managing your
      travel bucket list. From the bustling streets of cosmopolitan cities to
      serene beach getaways, this is your space to dream, plan, and conquer new
      adventures.
    </p>
    <br /><br />
    <hr class="divide" />
    <h1 class="center">Create Your Bucket List</h1>
    <p>
      Start by creating your personalized bucket list of countries and cities
      you wish to visit. Simply click on the "Create" button and add the name of
      the country you desire to explore. Once you have added the country, you
      can then add specific cities within that country that you want to visit.
      Feel free to add as many countries and cities as you like!
    </p>
    <br /><br />
  </section>
  <br />
</body>
{% endblock content %}
